<strong>Olá, {{provider}}</strong>
<p>Você possui um novo cancelamento, mais detalhes a seguir:</p>
<p>
  <strong>Cliente: </strong> {{user}} <br />
  <strong>Data/hora: </strong> {{date}} <br />
  <br />
  <small>O horário agora encontra-se disponível para um novo agendamento.</small>
</p>
